name: C# CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - uses: microsoft/setup-msbuild@v2
    - name: Generate binaries
      run: |
        dotnet restore /p:Configuration=Debug /p:Platform="Any CPU"
        MSBuild.exe PokeViewer.NET/PokeViewer.NET.csproj /p:Configuration=Debug
    - uses: actions/upload-artifact@v4
      with:
        name: PokeViewer for windows
        path: PokeViewer.NET/bin/Windows/Debug/net7.0-windows/win-x64